body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;

}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

img {
    display: block;
}

.section {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 100vh; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* @media screen and (min-width: 768px) {
 
  }
  @media screen and (min-width: 1158px) {
   
  } */
/* ==== HEADER ====*/
.header-section {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-list {
    display: none;
}

.address {
    display: none;
}

.burger-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    stroke: #2f2f37;
    line-height: 0;
}

.logo {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

@media screen and (max-width: 767px) {

    /* HEADER */
    .header-section {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        stroke: #2f2f37;
        line-height: 0;
    }

    .burger-btn:hover,
    .burger-btn:focus {
        background-color: #404bbf;
    }



    /* =======FORM MOBILE========= */

    .mobile-menu {
        width: 100%;
        height: 100%;
        background-color: #fff;
        ;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;

        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow-y: auto;
    }

    .mobile-menu.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;

        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close-btn:hover,
    .close-btn:focus {
        background-color: #404bbf;
        border: none;

    }

    .close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #2e2f42;
    }

    .close-btn:hover .close-icon,
    .close-btn:focus .close-icon {
        fill: #FFF;
    }

    .header-list-mobile {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 168px;
    }

    .nav-link-mobile {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .nav-link-mobile:hover,
    .nav-link-mobile:focus {
        color: #404bbf;

    }

    .address-mobile {
        font-style: normal;
        margin-bottom: 48px;

    }

    .address-list-mobile {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
    }

    .address-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }

    .studio-li-mobile {
        color: #404bbf;
    }

    .phone-number {
        color: #4d5ae5;
    }

    .social-media-list-mobile {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
        width: 280px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;

    }

    .social-list-link-mobile {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-media-item {
        fill: #f4f4fd;
        width: 40px;
        height: 40px;
    }

    .social-list-link-footer:hover,
    .social-list-link-footer:focus {
        background-color: #31d0aa;
    }

}

@media screen and (min-width: 768px) {
    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .burger-btn {
        display: none;
    }

    .mobile-menu {
        display: none
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .address {
        display: flex;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }

    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }

    .nav-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;

    }

    .studio-li {
        position: relative;
        color: #404bbf;
    }

    .studio-li::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;

    }

}

@media screen and (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        gap: 40px;
        padding: 24px 0;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* ============ HERO ======== */
.section-hero {
    background: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mobile-1x.jpg);
    max-width: 1440px;
    padding: 72px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    overflow-y: auto;
}

.section-hero-title {
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-button {
    font-weight: 500;
    background: #4d5ae5;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;

    display: block;
    min-width: 169px;
    height: 56px;
    border: none;

    margin-left: auto;
    margin-right: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero button:hover,
.section-hero button:focus {
    background: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mobile-2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .section-hero-title {
        font-size: 56px;
        font-weight: 700;
        max-width: 496px;
        height: 120px;
    }

    .se .section-hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 48px;
    }

    .section-hero {
        padding: 112px 0;


        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tablet-1x.jpg);
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .section-hero {

        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tablet-2x.jpg);
    }
}


@media screen and (min-width: 1158px) {
    .section-hero {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-desktop-1x.jpg);
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-desktop-2x.jpg);
    }
}

/* ====== STRENGTHS===== */


.svg-use-strengths {
    display: none;
}

.section-strengths-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

}

.section-strengths-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (max-width: 767px) {
    .section-strengths-title {
        margin-left: auto;
        margin-right: auto;
    }

    .strengths-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 72px;
        max-width: 288px;
    }

    .list-item-our-strengths {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
        max-width: 288px;
    }

}

@media screen and (min-width: 768px) {
    .strengths-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 72px;
    }

    .list-item-our-strengths {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .section-strengths-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .strengths-list {
        gap: 24px;
    }

    .list-item-our-strengths {
        width: calc((100% - 72px) / 4);
        gap: 8px;
    }

    .svg-use-strengths {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        fill: #2e2f42;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        width: 264px;
        height: 112px;
    }

    .section-strengths-p {
        font-weight: 400;
    }
}

/* ======= OUR TEAM =========== */
.section-our-team {
    background: #f4f4fd;
}

.our-team-list {
    display: flex;
    flex-direction: column;
    gap: 72px
}

.our-team-card {
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    /* padding: 0px 0px 32px 0px; */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
}


.team-description {
    padding: 32px 16px;

}

.our-team-top-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-team-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    width: 232px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #31d0aa
}

@media screen and (min-width: 768px) {
    .our-team-list {

        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }
}

@media screen and (min-width: 1158px) {
    .our-team-list {
        gap: 24px
    }

    .our-team-card {
        width: calc((100% - 72px) / 4);
    }
}

/* ======= OUR PORTFOLIO ===== */

.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-portfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-portfolio-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.our-portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 48px;
}

.our-portfolio-item {

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    max-width: 288px;
}

.image-portfolio {
    position: relative;
    overflow: hidden;
}

.overflow-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover,
.our-portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-item:hover .overflow-p {
    transform: translateY(0%);
}

@media screen and (min-width: 768px) {
    .portfolio-description {
        max-width: 356px;
    }

    .our-portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .our-portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-description {
        max-width: 360px;
    }

    .our-portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
    }

    .our-portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}

/* ====== FOOTER ======= */


.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    /* min-width: 100vh; */
}

.container-footer {
    max-width: 320px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 72px;
}

.mobile-container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* display: inline-block; */

}

.logo-footer-part {
    color: #f4f4fd;
}

.footer-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    margin-top: 16px;
    max-width: 288px;
}

.socail-media-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}


.footer-div {
    text-align: center;

}

.social-media-container {
    width: 208px
}

.social-media-list-footer {
    display: flex;
    gap: 16px;

}

.social-list-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer {
    fill: #fff;
    margin-left: 16px;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: #31d0aa;
}

.form-footer {
    display: flex;
    flex-direction: column;

    row-gap: 16px;
}

.label-subscribe-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.email-footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;

}

.email-footer-input::placeholder {
    color: #ffffff;
}

.email-footer-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.subscribe-footer-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;

    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 165px
}

.icon-footer {
    fill: #fff;
    margin-left: 16px;
}

.subscribe-footer-btn:hover,
.subscribe-footer-btn:focus {
    background: #404bbf;
    border-color: #404bbf;
    outline: transparent;
}

@media screen and (min-width: 768px) {
    .mobile-container-footer {
        flex-direction: row;
        align-items: baseline
    }

    .footer-div {
        margin-right: 24px;
    }

    .footer-p {
        width: 264px;
    }

    .footer-div {
        text-align: left;
    }

    .form-container {
        flex-direction: row;
        gap: 24px;
    }

    .socail-media-p {
        text-align: left;
    }

    .label-subscribe-p {
        text-align: left;
    }

    .container-footer {
        align-items: flex-start;
        max-width: 584px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container-footer {
        flex-direction: row;
        align-items: baseline;
        max-width: 1158px;
    }

    .footer-div {
        margin-right: 120px;
    }

    .form-footer {
        margin-left: 80px;
    }
}

